#lime-wrapper { 
	height: 1.5em; 
	width: 10em; 
}
.lime { 
	cursor: pointer; 
	height: 100%; 
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	font-size: 14px; 
	font-family: Verdana; 
}
.lime .valueContainer { 
	background: #A8F777; 
	display: table-cell; 
	vertical-align: middle; 
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.lime .valueContainer span { 
	margin-left: .4em; 
}
.lime .selector { 
	background: #A8F777; 
	width: 2em; 
	text-align: center; 
	display: table-cell; 
	vertical-align: middle; 
	-webkit-border-top-right-radius: 2px;
-webkit-border-bottom-right-radius: 2px;
-moz-border-radius-topright: 2px;
-moz-border-radius-bottomright: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
}
.lime .container { 
	display: table; 
	list-style: none; 
	width: 100%; 
	margin: 0; 
	padding: 0; 
	height: 100%; 
}
.lime .optionsContainer { 
	display: none; 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	overflow-y: scroll; 
}
.lime .optionsContainer li { 
	background: #C2F7A1; 
	padding: .3em; 
}
.lime .optionsContainer li:hover { 
	background: #A8F777; 
}
.lime .arrow { 
	width: 0px; 
	height: 0px; 
	border-style: solid; 
	margin: auto;  
}
.lime .arrowUp { 
	border-width: 0 5px 10px 5px; 
	border-color: transparent transparent #6E6E6E transparent; 
}
.lime .arrowDown { 
	border-width: 10px 5px 0 5px; 
	border-color: #6E6E6E transparent transparent transparent; 
}