#wrapper { background: red; height: 2em; width: 40em;}
.exampleClass { cursor: pointer; height: 100%; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 14px; font-family: Verdana; }
.exampleClass .valueContainer { background: #96FFAF; display: table-cell; vertical-align: middle; }
.exampleClass .valueContainer span { margin-left: .4em; }
.exampleClass .selector { background: #96FFAF; width: 2em; text-align: center; display: table-cell; vertical-align: middle; }
.exampleClass .container { display: table; list-style: none; width: 100%; margin: 0; padding: 0; height: 100%; }
.exampleClass .optionsContainer { display: none; list-style: none; margin: 0; padding: 0; }
.exampleClass .optionsContainer li { background: #BAFFCA; padding: .5em; }
.exampleClass .optionsContainer li:hover { background: yellow; }
.exampleClass .arrow { width: 0px; height: 0px; border-style: solid; margin: auto;  }
.exampleClass .arrowUp { border-width: 0 5px 10px 5px; border-color: transparent transparent #6E6E6E transparent; }
.exampleClass .arrowDown { border-width: 10px 5px 0 5px; border-color: #6E6E6E transparent transparent transparent; }