.select-js-theme-dark {
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	font-size: 12px;
	font-family: NeoSansMediumRegular, "Helvetica Neue", "Arial", sans-serif;
	text-align: left;
	height: auto;
	width: auto;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: #b9b9b9;
	display: inline-block;
	min-width: 3em;
    vertical-align: middle;
	outline: 0;
	font-weight: normal;
	font-style: normal;
	scrollbar-base-color: #fff;
}

.select-js-theme-dark .widget-wrapper {
	background-color: #252525;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.select-js-theme-dark .widget-wrapper:focus, .select-js-theme-dark[data-open=true] .widget-wrapper  {
	outline-width: 0px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.45);
}

.select-js-theme-dark .widget-wrapper:focus .widget-sub-wrapper {
    outline:none; /*or outline-color:#FFFFFF; if the first doesn't work*/
}

.select-js-theme-dark .widget-sub-wrapper {
	height: 3em;
	line-height: 2em;
	position: relative;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000;
}

.select-js-theme-dark[disabled=true] .widget-sub-wrapper {
	line-height: 2em;
	position: relative;
	cursor: default;
}

.select-js-theme-dark .widget-sub-wrapper div {
	height: 100%;
	margin: 0;
	padding: 0;
}

.select-js-theme-dark .value-container {
	float: left;
    width: -moz-calc(100% - 2em);
    width: -webkit-calc(100% - 2em);
    width: -o-calc(100% - 2em);
    width: calc(100% - 2em);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
}

.select-js-theme-dark .value-container span {
	margin-left: .5em;
	line-height: 35px;
	font-weight: 400;
	vertical-align: middle;
}

.select-js-theme-dark .value-container img {
	display: inline-block;
	vertical-align: middle;
	height: 1.2em;
	margin-left: .3em;
}

.select-js-theme-dark[disabled=true] .value-container {
	opacity: .4;
}

.select-js-theme-dark .arrow-container {
	float: left;
	width: 2em;
}

.select-js-theme-dark .arrow-container div {
	background-repeat: no-repeat;
  	background-size: 16px 16px;
  	background-position:center; 
}

.select-js-theme-dark .arrow-down {
	background-image: url(arrow.png);
}

.select-js-theme-dark .arrow-up {
	background-image: url(arrow.png);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.select-js-theme-dark[disabled=true] .arrow-down {
	background-image: url(arrow.png);
	opacity: .4;
}

/* if options-container is rendered within the widget */
.select-js-theme-dark .options-container {
	margin: -.9em 0 0 0 !important;
}

.select-js-theme-dark.options-container {
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1;
	margin: 2.3em 0 0 0;
}

.select-js-theme-dark.options-container .options-container-wrapper {
	position: relative;
	margin: 0;
	left: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid #000;
	border-top: 0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.45);
	background-color: #252525;
	height: auto;
}

.select-js-theme-dark.options-container .options-container-down {
    top: 2.8em; /* same as .widget-sub-wrapper's height (including its border) */
}

.select-js-theme-dark.options-container .options-container-up {

}

.select-js-theme-dark.options-container .options-container-list {
	padding: 0;
	margin: 0 0 .5em 0;
	list-style-type: none;
	max-height: 20em;
	margin-top: .5em;
	width: calc(100% - 5px);
	height: auto;
	float: none;
	border-radius: 0;
	border: 0;
	box-shadow: none;
	overflow-x: hidden;
	overflow-y: auto;
}

.select-js-theme-dark.options-container .options-container-list li {
	white-space: nowrap;
	border: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: .4em;
	font-size: 12px;
	float: none;
	width: 100%;
	height: auto;
	display: list-item;
}

.select-js-theme-dark.options-container .options-container-list li span {
	padding: 0 0 0 .1em;
	display: inline-block;
	vertical-align: middle;
	font-weight: 400;
}

.select-js-theme-dark.options-container .options-container-list li.hovered { 
	background: #000; 
	cursor: pointer;
}

.select-js-theme-dark.options-container .options-container-list li img {
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}

.select-js-theme-dark.options-container .options-menu-search-wrapper {
	width: calc(100% - 1em);
	margin: auto;
	text-align: center;
	padding-top: .4em;
}

.select-js-theme-dark.options-container .options-menu-search-input-wrapper {
	border: 1px solid #808080;
	padding: .3em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0;
}

.select-js-theme-dark.options-container .options-menu-search-input {
	width: 95%;
	-webkit-appearance:textfield;
	border: 0;
	background: transparent;
	color: #b9b9b9;
	max-width: none !important;
}

.select-js-theme-dark.options-container .options-menu-search-input:focus {
	outline-width: 0;	
}

.select-js-theme-dark.options-container .options-menu-search-no-results {
	margin: .5em 0 .5em 0;
	text-align: left;
}

.select-js-theme-dark.options-container .options-menu-list-item-group-list {
	padding: 0;
	padding-left: 1em;
	margin: 0;
	height: auto;
	border-radius: 0;
	border: 0;
	box-shadow: none;
	width: auto;
}

.select-js-theme-dark.options-container .options-menu-list-item-group-title {
	font-weight: 500;
	font-size: 12px;
	cursor: default;
	margin: 0;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}

.select-js-theme-dark .native-select-wrapper {
	opacity: 0;
	max-height: 0;
	max-width: 0;
	float: left;
}

.select-js-theme-dark ::-webkit-scrollbar {
    overflow: visible;
    background: transparent;
    width: 6px;
}

.select-js-theme-dark ::-webkit-scrollbar-track {
	border-radius: 2px;
	width: 2px;
	background: #000;
}

.select-js-theme-dark ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 5px;
    background: #808080;
}

.select-js-theme-dark ::-webkit-scrollbar:window-inactive {
    background-color: transparent;
}