.poison {
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	font-size: 0.6em;
	font-family: NeoSansMediumRegular, "Helvetica Neue", "Arial", sans-serif;
}

.poison .widget-wrapper {
	position: relative;
}

.poison .widget-wrapper:focus {
	outline-width: 0;	
}

.poison .widget-wrapper:focus .widget-sub-wrapper {
    outline:none; /*or outline-color:#FFFFFF; if the first doesn't work*/
}

.poison .widget-sub-wrapper {
	background-color: #44A614;
	height: 3.5em;
	line-height: 2em;
	position: relative;
	cursor: pointer;
}

.poison[disabled=true] .widget-sub-wrapper {
	background-color: #fff;
	height: 3.5em;
	line-height: 2em;
	position: relative;
	cursor: default;
}

.poison .widget-sub-wrapper div {
	height: 100%;
	margin: 0;
	padding: 0;
}

.poison .value-container {
	float: left;
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: -o-calc(100% - 30px);
    width: calc(100% - 30px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #4EBF17;
	color: #fff;
	font-size: 1.5em;
}

.poison .value-container span {
	margin-left: .5em;
	line-height: 2.4em;
	color: #fff;
	font-weight: bold;
}

.poison[disabled=true] .value-container span {
	opacity: .4;
}

.poison .arrow-container {
	float: left;
	width: 30px;
	height: 32px;
}

.poison .arrow-container div {
	background-repeat: no-repeat;
  	background-size: 16px 16px;
  	background-position:center; 
}

.poison .arrow-down {
	background-image: url(arrow.png);
}

.poison .arrow-up {
	background-image: url(arrow.png);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.poison[disabled=true] .arrow-down {
	background-image: url(arrow.png);
	opacity: .4;
}

.poison .options-container {
    position: absolute;
    left: 0;
    z-index: 1;
	padding: 0;
	margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	overflow-y: auto;
	background-color: #44A614;
    opacity: .97;
}

.poison .options-container-down {
    top: 3.5em; /* same as .widget-sub-wrapper's height (including its border) */
}

.poison .options-container-up {

}

.poison .options-container-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.poison .options-container-list li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: .4em;
	font-size: 1.3em;
	color: #fff;
}

.poison .options-container-list li span {
	padding: 0 0 0 .1em;
}

.poison .options-container-list li.hovered { 
	background: #398713; 
	cursor: pointer;
}

.poison ::-webkit-scrollbar {
    width: 4px;
    overflow: visible;
    background: #398713;
}

.poison ::-webkit-scrollbar-track {
  background-color: transparent;
}

.poison ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #275C0D;
}

.poison ::-webkit-scrollbar:window-inactive {
    background-color: transparent;
}