#ocean-wrapper { 
	width: 15em; 
	height:100%;
}
.ocean { 
	cursor: pointer; 
	height: 100%; 
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	font-size: 12px; 
	font-family: Verdana; 
	text-transform: uppercase;
}
.ocean .valueContainer { 
	background: #63BBF2; 
	display: table-cell; 
	vertical-align: middle; 

}
.ocean .valueContainer span { 
	margin-left: .4em; 
	color: #000;
}
.ocean .selector { 
	background: #63BBF2; 
	width: 2em; 
	text-align: center; 
	display: table-cell; 
	vertical-align: middle; 
}
.ocean .container { 
	display: table; 
	list-style: none; 
	width: 100%; 
	margin: 0; 
	padding: 0; 
	height: 100%; 
	border: 1px solid #4B8EB8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.ocean:focus .container { 
	border: 1px solid red;
}
.ocean:focus.disabled .container { 
	border: 1px solid #4B8EB8;
}
.ocean .optionsContainer { 
	display: none; 
	list-style: none; 
	margin: .5em 0 0 0; 
	padding: 0; 
	overflow-y: scroll; 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #4B8EB8;
	/* Firefox */
	height: -moz-calc(100% - 2px);
	/* WebKit */
	height: -webkit-calc(100% - 2px);
	/* Opera */
	height: -o-calc(100% - 2px);
	/* Standard */
	height: calc(100% - 2px);
}
.ocean .optionsContainer li { 
	background: #63BBF2;
	padding: .5em; 
	color: #000;
}
.ocean .optionsContainer li:hover, .ocean .optionsContainer li[hovered="true"] { 
	background: #A3D7F7; 
	color: red;
}
.ocean:focus {
	outline-width: 0;
}
.ocean .arrow { 
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-image: url(arrow-down.png);
  	background-size: 16px 16px;
  	background-position:center; 
}
.ocean .arrowUp { 
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.ocean .arrowDown { 

}