.plain {
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	font-size: 11px; 
	font-family: Verdana;
	color: #000;
}

.plain .widget-wrapper {
	position: relative;
}

.plain .widget-wrapper:focus {
	outline-width: 0;
}

.plain .widget-wrapper:focus .widget-sub-wrapper {
    outline: none; /*or outline-color:#FFFFFF; if the first doesn't work*/
    -webkit-box-shadow: 0px 0px 4px 0px #639AFF;
    box-shadow: 0px 0px 4px 0px #639AFF;
}

.plain .widget-sub-wrapper {
	height: 2em;
	position: relative;
	cursor: pointer;
	border: 1px solid #9C9C9C;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(239,239,239,1) 100%); /* W3C */
}

.plain[disabled=true] .widget-sub-wrapper {
	background-color: #fff;
	height: 2em;
	line-height: 2em;
	position: relative;
	border: 1px solid #DEDEDE;
	cursor: default;
	outline-width: 0;
}

.plain .widget-sub-wrapper div {
	height: 100%;
	margin: 0;
	padding: 0;
}

.plain .value-container {
	float: left;
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: -o-calc(100% - 30px);
    width: calc(100% - 30px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.plain .value-container span {
	margin-left: .5em;
	line-height: 2em; /* same as .widget-sub-wrapper height */
	vertical-align: middle;
}

.plain .value-container img {
	display: inline-block;
	vertical-align: middle;
	height: 90%;
	margin-left: .3em;
	margin-right: .3em;
}

.plain[disabled=true] .value-container span {
	opacity: .4;
}

.plain .arrow-container {
	float: left;
	width: 30px;
	height: 32px;
}

.plain .arrow-container div {
	background-repeat: no-repeat;
  	background-size: 16px 16px;
  	background-position:center; 
}

.plain .arrow-down {
	background-image: url(arrow-down.png);
}

.plain[disabled=true] .arrow-down {
	background-image: url(arrow-down.png);
	opacity: .4;
}

.plain .arrow-up {
	background-image: url(arrow-down.png);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.plain .options-container {
    position: absolute;
    left: 0;
    z-index: 1;
	margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	border-left: 1px solid #639AFF;
	border-right: 1px solid #639AFF;
	border-bottom: 1px solid #639AFF;
	background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px #639AFF;
    box-shadow: 0px 0px 4px 0px #639AFF;
    top: 0;
    padding: .1em .1em .1em .1em;
}

.plain .options-container-down {

}

.plain .options-container-up {
	margin-top: 2.5em;
}

.plain .options-container-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
    max-height: 30em;
    overflow: auto;
}

.plain .options-container-list li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: .4em;
}

.plain .options-container-list li span {
	padding: 0 2em 0 0;
	display: inline-block;
	vertical-align: middle;
}

.plain .options-container-list li.selected.hovered span {
	background-image: url(checked-white.png);
	background-repeat: no-repeat;
  	background-size: 10px 10px;
  	background-position:right; 
}

.plain .options-container-list li.selected span {
	background-image: url(checked-black.png);
	background-repeat: no-repeat;
  	background-size: 10px 10px;
  	background-position:right; 
}

.plain .options-container-list li.hovered { 
	background: #326BF0; 
	color: #fff;
	cursor: pointer;
}

.plain .options-container-list li img {
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: .5em;
}

.plain .options-container-list-item-description {
	font-size: 9px;
	color: #696969;
}

.plain .options-menu-search-wrapper {
	margin: auto;
	background: #fff;
	padding: .3em;
	text-align: center
}

.plain .options-menu-search-input {
	width: calc(100% - 2px);
	-webkit-appearance:textfield;
}

.plain .options-menu-search-input:focus {
	outline-width: 0;
}

.plain .options-menu-search-no-results {
	margin: .5em 0 .5em 0;
	text-align: left;
}

.plain .options-menu-list-item-group-list {
	padding-left: 1em;
	padding-bottom: 1em;
}

.plain .options-menu-list-item-group-title {
	font-weight: 600;
	cursor: default;
	margin: 0;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}